/*  For Profile HTML   */

.boxFeatures .inspire .icon-lamp, .icon-comments,.icon-group,.icon-dollar,.icon-feed, .icon-female {
position: absolute;
top:-30px;
right:0;
left:0;
}

.boxFeatures .inspire .icon-enter {
  position: relative;
  right: -4px;
 bottom:-1px;

}

/*     For HiddenMenu   */
.bt-menu .icon-home {
  color: rgb(255,255,255);
  font-size: 35px;
  position: relative;
  top:8px;
  left: 30px;
}

.bt-menu .icon-home:hover {
  color: rgb(18, 194, 134);

  -webkit-transition: color 0.2s ease-in;
  -moz-transition: color 0.2s ease-in;
  -o-transition: color 0.2s ease-in;
  -ms-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}


/***************** foundation icons **************/  


/* For Profile (user section) HtML   */

.userBox .user_inner .fi-photo, .fi-megaphone, .fi-info, .fi-widget {
  position: relative;
  right: -10px;

} 

/*  for Hidden Menu*/

.bt-menu .fi-info {
 position: relative;
  right: -10px;

}



