{% load static %}
<!DOCTYPE html>
<!--[if lt IE 9]><html class="ie"><![endif]-->
<!--[if gte IE 9]><!--><html lang="en" class="no-js"><!--<![endif]-->

	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>{% block title %}Indieitude - Home for Independent Designers{% endblock %}</title>
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<meta name="author" content="" />
		<link rel="shortcut icon" href=""> 
		
		<!--*****CSS LINKS******-->
		<link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}"/> 
		<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/> 
		<link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}"/> 
		<link rel="stylesheet" type="text/css" href="{% static 'css/font.css' %}"/> 
		<link rel="stylesheet" type="text/css" href="{% static 'bootstrap-3.1.1-dist/css/bootstrap.css' %}"/> 



		<!--****Script tags needed to be in-between the head tags****-->
		<script src="{% static 'js/lib/main-important/jquery-1.11.0.js' %}"></script>
		<script src=" {% static 'js/lib/other/modernizr.custom.32600.js' %}"></script>
			
	</head>
	<body>
		<div class="wrap">
			<header id="header">
                <nav class="top">
            		<div class="slogan">	
		            	<div id="dl-menu" class="dl-menuwrapper">
							<button class="dl-trigger">Open Menu</button>
							<ul class="dl-menu">
							    <li>
								    <a href="#">Menu</a>
								    <ul class="dl-submenu">    
							            <li><a href="#">All</a></li>
							            <li><a href="#">What's New</a></li>
							            <li><a href="#">Trending</a></li>
							            <li>
							            	<a href="#">Collection</a>
							            	<ul class="dl-submenu">
							            		<li>
							            			<a href="#">Clothing</a>
							            			<ul class="dl-submenu">
									            		<li>
									            			<a href="#">Tops</a>
									            			<ul class="dl-submenu">
									            				<li><a href="#">Sweaters</a></li>
											            		<li><a href="#">Long Sleeve</a></li>
											            		<li><a href="#">Tees & Tanks</a></li>
											            		<li><a href="#">Short Sleeve</a></li>
											            		<li><a href="#">Blouses/Shirts</a></li>
											            		<li><a href="#">Sleeveless</a></li>
									            			</ul>
									            		</li>
									            		<li>
									            			<a href="#">Bottoms</a>
									            			<ul class="dl-submenu">
									            				<li><a href="#">Jeans</a></li>
											            		<li><a href="#">Pants</a></li>
											            		<li><a href="#">Shorts</a></li>
											            		<li><a href="#">Skrits</a></li>
											            		<li><a href="#">Leggings & Tights</a></li>
									            			</ul>
									            		</li>
									            		<li><a href="#">Dresses</a></li>
									            		<li><a href="#">Rompers & Jumpers</a></li>
									            		<li><a href="#">Jackets & Blazers</a></li>
									            		<li><a href="#">Outerwear</a></li>
							            			</ul>
							            		</li>
							            		<li><a href="#">Lingerie</a></li>
							            		<li>
							            			<a href="#">Accessories</a>
							            			<ul class="dl-submenu">
							            				<li><a href="#">Jewelry</a></li>
							            				<li><a href="#">Belts</a></li>
									            		<li><a href="#">Hats & Gloves</a></li>
									            		<li><a href="#">Sunglasses</a></li>
									            		<li><a href="#">Scarves & Snoods</a></li>
									            		<li><a href="#">Other</a></li>
							            			</ul>
							            		</li>
							            		<li><a href="#">Bags</a></li>
							            		<li>
							            			<a href="#">Shoes</a>
							            			<ul class="dl-submenu">
							            				<li><a href="#">Boots</a></li>
							            				<li><a href="#">Flats</a></li>
									            		<li><a href="#">Pumps & Heels</a></li>
									            		<li><a href="#">Sneakers</a></li>
									            		<li><a href="#">Wedges</a></li>
							            			</ul>
							            		</li>
							            	</ul>
							            </li>
							            <li><a href="#">Designers</a></li>
							            <li>
							            	<a href="#">Location</a>
							            	<ul class="dl-submenu">
							            		<li><a href="#">New York City</a></li>
							            	</ul>
							            </li>
				          			</ul>
								</li>
							</ul>
						</div><!-- /dl-menuwrapper -->
					</div> <!-- slogan end -->
					<a href="{% url "home.views.base" %}"><div class="logoWrap"></div></a>
    				<ul class="right">
    				{% block authenticate %}
    					{%if is_authenticated %}
                    	<li class="logged-in">
			                <a href="/user/amechi.egbe" class="name">{{username}}</a>
			                <a href="/user/amechi.egbe"><img src="user_images/{{user.image}}" width="40" height="40" alt="Amechi Egbe"></a>
			                <a href="/logout" class="logout" title="Sign out">Logout</a>
            			</li>
            			 {%else%}
                    	<li class="login"><a href="{% url "profiles.views.login" %}">Login / Signup</a></li>
                    	 {%endif%}
           
            			{% endblock authenticate %}
                		<li class="social">
				            <a href="information/information-page.html" class="info">Information</a>
				            <a href="#" class="facebook"  title="Facebook"></a>
				            <a href="#" class="twitter">Twitter</a>
				            <a href="#" class="pinterest">Pinterest</a>
        				</li>
					</ul>
					{% block search %}
					<div id="tl-search" class="tl-search">
	    				<form>
					        <input class="tl-search-input" placeholder="Enter product search term..." type="search" value="" name="search" id="search">
					        <input class="tl-search-submit" type="submit" value="">
					        <span class="tl-icon-search"></span>
					    </form>
    				</div>
    				{% endblock search %}
				</nav>
         
      		</header>
			
			<!-- Space div for header to content -->
			{% block space %}<div  class="space"></div>{% endblock space %}

			<!-- Main content-->
			{% block content %}{% endblock content %}
			

			{% block login %}{% endblock login %}
			
			{% block signup %}{% endblock signup %} 

			{% block settings %}{% endblock settings %} 

			{% block dashboard %}{% endblock dashboard %} 
		</div> <!-- End container -->

		



		<!-- Le javascript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->

        
        <script src="{% static 'js/lib/main-important/jquery.wookmark.js' %}"></script>
        <script src="{% static 'js/lib/main-important/jquery.remodal.js' %}"></script>
        
        <script src="{% static 'js/lib/other/classie.js' %}"></script>
        <script src="{% static 'js/lib/other/application-searchbar.js' %}"></script>
       	<script src="{% static 'js/lib/other/jquery.dlmenu.js' %}"></script>
        <script src="{% static 'js/lib/other/jquery.imagesloaded.js' %}"></script>
         <script src="{% static 'js/lib/other/selectize.js' %}"></script>
        <script src="{% static 'js/lib/other/slider.js' %}"></script>
        <script src="{% static 'bootstrap-3.1.1-dist/js/bootstrap.js' %}"/></script>

        <!-- Scripts to call in Libraries -->
		<script>
        	new UISearch( document.getElementById( 'tl-search' ) );
        </script>
		<script>
			$(function() {
				$( '#dl-menu' ).dlmenu();
			});
		</script>
		<script>
			$(function() {

			Slider.init();

			});
    	</script>
		
		<script>
			(function ($){
			      var handler = $('#tiles li');

			      handler.wookmark({
			          // Prepare layout options.
			          autoResize: true, // This will auto-update the layout when the browser window is resized.
			          offset: 2, // Optional, the distance between grid items
			          itemWidth: 210 // Optional, the width of a grid item
			      });

			     
			        handler.wookmark();
			 
    		})(jQuery);
  		</script>
  		<script>
				$('#input-tags').selectize({
					delimiter: ',',
					persist:false,
					create :function(input) {
						return {
							value: input,
							text: input
						}
					}
				});
		</script>

  			<!--
        This script enables structural HTML5 elements in old IE.
        http://code.google.com/p/html5shim/ -->
	    <!--[if lt IE 9]>
	    <script src = "//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	    <![endif]-->
	</body>
</html>