{% extends 'home/base.html' %}
{% block title %}Dashboard -Indieitude{% endblock title %}
			

			<!-- Main content of images -->
{% block space %}
<div  class="space"></div>
{% endblock space %}

{% block dashboard %}
<div class="dashboard">
	<div class="dashboard-inner">
		<ul class="dash-left">
			<li><a href="#">View Our Information Page</a></li>
			<li><a href="#"> Start Discovering</a></li>
		</ul>
		<div class="dash-middle">
			<label>Point Total:<span class="dash-total">0</span></label>
			<label>Influence Level:<span class="dash-name">Fashionista</span></label>
		</div>
	</div>
</div>

<div class="hr-line"></div>

<ol id="filters">
	<li data-filter="all">All</li>
	<li data-filter="recent">Most Recent</li>
	<li data-filter="liked">Most Likes</li>
	<li data-filter="shared">Most Shared</li>
</ol>
<div class="feed-title">
	<h2>Personal Feed</h2>
</div>
{% endblock dashboard %}				

			