{% extends 'home/base.html' %}
{% block title %}Log into Indieitude{% endblock %}




{% block space %}
<div  class="space-registration"></div>
{% endblock %}
           

{% block login %}  
<div id="content">     
    <div class="block">
        <div class="inner width-2">
            <div class="box-login">
                <div class="head">
                    <h2 class="heading-title">Log in</h2>
                    <p align="center"><em>Log in with your Facebook or Twitter</em></p>
                </div>
                <div class="socialconnect">
                    <a href="" class="facebook">Log in with Facebook</a>
                </div>
                <p align="center"><em>Or log in with your username or email</em></p>
                <div class="box-form">
                    <form action="" method="post">{% csrf_token %}
                        <p><input type="text" name="" placeholder="Username" class="text-input focus"></p>
                        <p><input type="password" name="" placeholder="Password" class="text-input focus"></p>
                        <input type="hidden" name="" value="" />
                        <p><input type="checkbox" id="" name="" checked /> <label for="">Remember me</label></p>
                        <p><input type="submit" name="submit" value="LOGIN" class="button large bold"></p>
                        <p><a  href="#" class="underline"><strong>Forgot your password?</strong></a></p>
                    </form>
                </div>
                <div class="footer">
                    <h2 class="heading-title" align="center">Not a member yet? <a href="#">Register now</a></h2>
                </div>
            </div>
        </div>
    </div> 
</div>
{% endblock %}
	