{% load i18n %}


<footer id="footer" class="contentBlock footerContentBlock">
    <ul class="footerNav">
        <li class="footerGroup"><span class="footerGroupTitle">Collection</span>
            <ul class="footerGroupNav">
                <li class="footerNavItem"><a href="" class="footerNavAction ">Accessories</a>
                </li>
                <li class="footerNavItem"><a href="" class="footerNavAction ">Clothing</a>
                </li>
                <li class="footerNavItem"><a href="" class="footerNavAction ">Shoes</a>
                </li>
                <li class="footerNavItem"><a href="" class="footerNavAction ">Lingerie</a>
                </li>
                <li class="footerNavItem"><a href="" class="footerNavAction ">Shoes</a>
                </li>
                <li class="footerNavItem"><a href="{% url "product_view" %}" class="footerNavAction footerHighlightAction">View All</a>
                </li>
            </ul>
        </li>
      
        <li class="footerGroup"><span class="footerGroupTitle">Featured Designers of the Week</span>
            <ul class="footerGroupNav">
                <li class="footerNavItem"><a href="" class="footerNavAction ">Morgan Carper</a>
                </li>
                <li class="footerNavItem"><a href="" class="footerNavAction ">Wendy Nichol</a>
                </li>
                <li class="footerNavItem"><a href="" class="footerNavAction ">Kate Spade</a>
                </li>
                <li class="footerNavItem"><a href="" class="footerNavAction ">Natalie Kathleen</a>
                </li>
                <li class="footerNavItem"><a href="#" class="footerNavAction ">Muir</a>
                </li>
            </ul>
        </li>
        <li class="footerGroup"><span class="footerGroupTitle">Company</span>
            <ul class="footerGroupNav">
                <li class="footerNavItem"><a href="/about/" data-bypass class="footerNavAction ">About Us</a>
                </li>
                <li class="footerNavItem"><a href="/contact/" data-bypass class="footerNavAction ">Contact Us</a>
                </li>
                <li class="footerNavItem"><a href="/terms/" data-bypass class="footerNavAction ">Terms & Conditions</a>
                </li>
                <li class="footerNavItem"><a href="/privacy/" data-bypass class="footerNavAction ">Privacy Policy</a>
                </li>
            </ul>
        </li>
    </ul>
    <div class="footerMicro">&copy; 2014 Indieitude, All rights reserved.</div>
</footer>

