 

<!DOCTYPE html>
<!--[if lt IE 9]><html class="ie"><![endif]-->
<!--[if gte IE 9]><!--><html lang="en-us" class="no-js"><!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <title>Indieitude | Welcome</title>
        
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        

        
    <link rel="stylesheet" href="/site_media/static/css/site.css" >
    <link rel="stylesheet" href="/site_media/static/css/font.css"/> 
    <link rel="stylesheet" href="/site_media/static/css/normalize.css"/> 
    <link rel="stylesheet" href="/site_media/static/css/main.css"/> 
    <link rel="stylesheet" href="/site_media/static/css/form.css"/> 
    <link rel="stylesheet" href="/site_media/static/bootstrap-3.1.1-dist/css/bootstrap.css"/> 
    


        
    <script src="/site_media/static/js/lib/main-important/jquery-1.11.0.js"></script>
    <script src=" /site_media/static/js/lib/other/modernizr.custom.32600.js"></script>


        
            <!-- HTML5 shim, for IE6-8 support of HTML elements -->
            <!--[if lt IE 9]>
                <script src="/site_media/static/pinax/js/html5shiv.js"></script>
            <![endif]-->
        

        
    

    </head>
    <body class="home" id="">
        <div id="the_container" class="wrap remodal-bg container-fluid">
        
        
        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            


<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div id="content">
            <div class="block">
                <div class="inner width-2">
                    <div class="box-login">
                        <div class="box-form">
                            <div class="head">
                                 <h2 class="heading-title">Must register to start discovering!</h2>

                            </div>
                            <div class="socialconnect"> <a href="" class="facebook">Login with your Facebook</a>

                            </div>
                            <p align="center"><em>Or Login with your Username & Password</em>
                            </p>
                            <form method="POST" action="/account/login/" autocapitalize="off">
                                <input type='hidden' name='csrfmiddlewaretoken' value='HKaq1Cs6xOrcp4SWyaG7Bij9hxGr7iGc' />
                                <div class="form-group">
                                    <label class="control-label  " for="id_username">Username</label>
                                    <div class=" ">
                                        <input class=" form-control" id="id_username" maxlength="30" name="username" type="text" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label  " for="id_password">Password</label>
                                    <div class=" ">
                                        <input class=" form-control" id="id_password" name="password" type="password" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="">
                                        <div class="checkbox">
                                            <label>
                                                <input id="id_remember" name="remember" type="checkbox" /> <span>Remember Me</span>

                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <p><a href="/account/password/reset/" class="underline"><strong>Forgot your password?</strong></a>
                                </p>
                                <p>
                                    <button type="submit" class="button large bold">Log in</button>
                                </p>
                            </form>
                            <h2 align="center" class="heading-title">Not a member yet? <a class="underline" href="/account/signup/"> Signup now!</a></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 
        </div>
        
    

         
          
         <div class="slide" id="slide1" data-slide="1" data-stellar-background-ratio="0.5"> 
       <div class="white_overlay" id="slide1_white_overlay"></div>
            <div id="slide1_content">
                <img id="maskit_logo" src="/site_media/static/img/logo.png" alt="maskit logo">
                <h1 id="slide1_text_headline">Indieitude the Home for Finding Independent Designers </h1>
            <h2 id="slide1_text">
                Lorem ipsum dolor sit amet, eu pri tollit audire dissentiet. In ius dicam labitur delicata, persecuti inciderint concludaturque ut usu, purto everti sit eu. Eam ex ignota viderer, eu pro agam electram, cu duo partem suscipiantur. Elitr veniam vel ad.
                Odio ocurreret ne mel. Fierent detracto reprehendunt cum ex, primis vivendum nominati at cum, ex omnes scaevola electram mel. Cum at consul nominavi scriptorem, latine persius sadipscing qui ut, ei delectus voluptatibus eam. Duo ad etiam eirmod corrumpit, sea docendi deseruisse te, homero integre no qui. In eam mutat atqui molestie, atqui exerci putent pro ad, pri no neglegentur necessitatibus.
                Sale discere detraxit ei quo, veri electram maluisset ut vel, pri dicunt accommodare no. Mea ad enim utamur deseruisse. Affert temporibus definitiones ne est. Et mediocrem argumentum cum.
                Per ad probo possim insolens, cum regione malorum repudiandae et. Mel nibh congue appareat ad, in vix atqui laudem deterruisset. Vidit tacimates democritum pro ea, brute ipsum civibus cum ea. Vero probo no ius, no graeco utroque sensibus usu, mei ne alterum intellegebat.
                Pri at suscipit molestiae instructior, iudico bonorum tacimates ex ius. Dolorem habemus sapientem eam ex. Est ei putant oblique lobortis, ei vel ferri graecis deleniti. Graecis appellantur ea usu. Vix vero imperdiet temporibus ei, sea postea suavitate ne.
                </h2>
            </div>
            <div class="scroll_down_text">Scroll Down</div>
            <a class="scroll arrow_down" id="arrow_down_1" href="#slide2"><div class="arrow_down_circle"><img class="arrow_down_strip" src="/site_media/static/img/down_strip.png" alt="arrow down"></div></a>
        </div> 

        <div class="slide" id="slide2" data-slide="2" data-stellar-background-ratio="0.5">
                <div class="white_overlay" id="slide2_white_overlay"></div>
                <div id="slide2_content">   
                    <h1 id="slide2_text_headline">Connecting people with designers</h1>
                    <h2 id="slide2_text">  
                        Lorem ipsum dolor sit amet, eu pri tollit audire dissentiet. In ius dicam labitur delicata, persecuti inciderint concludaturque ut usu, purto everti sit eu. Eam ex ignota viderer, eu pro agam electram, cu duo partem suscipiantur. Elitr veniam vel ad.
                Odio ocurreret ne mel. Fierent detracto reprehendunt cum ex, primis vivendum nominati at cum, ex omnes scaevola electram mel. Cum at consul nominavi scriptorem, latine persius sadipscing qui ut, ei delectus voluptatibus eam. Duo ad etiam eirmod corrumpit, sea docendi deseruisse te, homero integre no qui. In eam mutat atqui molestie, atqui exerci putent pro ad, pri no neglegentur necessitatibus.
                Sale discere detraxit ei quo, veri electram maluisset ut vel, pri dicunt accommodare no. Mea ad enim utamur deseruisse. Affert temporibus definitiones ne est.
                    </h2>   
                </div>
                <div class="scroll_down_text">Discover Below</div>
                <a class="scroll arrow_down" id="arrow_down_2" href="#slide3"><div class="arrow_down_circle"><img class="arrow_down_strip" src="/site_media/static/img/down_strip.png" alt="arrow down"></div></a>          
            </div>

    
            
         
        <div class="slide"  id="slide3">
        
            <header id="header">
                <nav class="scroll">
                   <a href="/"><div class="logoWrap"></div></a>
                    <div class="slogan">    
                        <div id="dl-menu" class="dl-menuwrapper">
                            <button class="dl-trigger">Open Menu</button>
                            <ul class="dl-menu">
                                <li>
                                    <a href="#">Menu</a>
                                    <ul class="dl-submenu">    
                                        <li><a href="#">All</a></li>
                                        <li><a href="#">What's New</a></li>
                                        <li><a href="#">Trending</a></li>
                                        <li>
                                            <a href="#">Collection</a>
                                            <ul class="dl-submenu">
                                                <li>
                                                    <a href="#">Clothing</a>
                                                    <ul class="dl-submenu">
                                                        <li>
                                                            <a href="#">Tops</a>
                                                            <ul class="dl-submenu">
                                                                <li><a href="#">Sweaters</a></li>
                                                                <li><a href="#">Long Sleeve</a></li>
                                                                <li><a href="#">Tees & Tanks</a></li>
                                                                <li><a href="#">Short Sleeve</a></li>
                                                                <li><a href="#">Blouses/Shirts</a></li>
                                                                <li><a href="#">Sleeveless</a></li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <a href="#">Bottoms</a>
                                                            <ul class="dl-submenu">
                                                                <li><a href="#">Jeans</a></li>
                                                                <li><a href="#">Pants</a></li>
                                                                <li><a href="#">Shorts</a></li>
                                                                <li><a href="#">Skrits</a></li>
                                                                <li><a href="#">Leggings & Tights</a></li>
                                                            </ul>
                                                        </li>
                                                        <li><a href="#">Dresses</a></li>
                                                        <li><a href="#">Rompers & Jumpers</a></li>
                                                        <li><a href="#">Jackets & Blazers</a></li>
                                                        <li><a href="#">Outerwear</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">Lingerie</a></li>
                                                <li>
                                                    <a href="#">Accessories</a>
                                                    <ul class="dl-submenu">
                                                        <li><a href="#">Jewelry</a></li>
                                                        <li><a href="#">Belts</a></li>
                                                        <li><a href="#">Hats & Gloves</a></li>
                                                        <li><a href="#">Sunglasses</a></li>
                                                        <li><a href="#">Scarves & Snoods</a></li>
                                                        <li><a href="#">Other</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="#">Bags</a></li>
                                                <li>
                                                    <a href="#">Shoes</a>
                                                    <ul class="dl-submenu">
                                                        <li><a href="#">Boots</a></li>
                                                        <li><a href="#">Flats</a></li>
                                                        <li><a href="#">Pumps & Heels</a></li>
                                                        <li><a href="#">Sneakers</a></li>
                                                        <li><a href="#">Wedges</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Designers</a></li> 
                                    </ul>
                                </li>
                            </ul>
                        </div><!-- /dl-menuwrapper -->
                    </div> <!-- slogan end -->
                    <ul class="right nav navbar-nav">
                        



    
        <li><a href="/account/login/">Log in</a></li>
        
            <li><a href="/account/signup/">Sign up</a></li>
        
    


<form id="accountLogOutForm" style="display: none;" action="/account/logout/" method="POST">
    <input type='hidden' name='csrfmiddlewaretoken' value='EM4CPmGXRAOgHJiwN9PO6tfeX7GGe4Qk' />
</form>

                        <li class="social">
                            <a  href="#" class="info">Information</a>
                            <a href="#" class="facebook"  title="Facebook"></a>
                            <a href="#" class="twitter">Twitter</a>
                            <a href="#" class="pinterest">Pinterest</a>
                        </li>
                    </ul>
                
                <div id="tl-search" class="tl-search">
                    <form>
                        <input class="tl-search-input" placeholder="Enter product search term..." type="search" value="" name="search" id="search">
                        <input class="tl-search-submit" type="submit" value="">
                        <span class="tl-icon-search"></span>
                    </form>
                </div>
                
                </nav>     
            </header>
            
           
      

            
                
 <div id="main" role="main">
    <ul id="tiles">
        <li>
        
            <a data-toggle="modal" data-target=".bs-example-modal-lg" >
        
            <img  src="http://www.spiritualameri.ca/media/catalog/product/cache/1/image/348x518/9df78eab33525d08d6e5fb8d27136e95/d/s/dsc_0529_2.jpg"/>
            </a>
        </li>         
     </ul>
</div>

            


            
            
                
    




            
           
    </div>
    </div>

        
            <script src="/site_media/static/js/lib/main-important/jquery.wookmark.js"></script>
            <script src="/site_media/static/js/lib/main-important/jquery.remodal.js"></script>
            <script src="/site_media/static/js/lib/main-important/jquery.stellar.js"></script>


            
            <script src="/site_media/static/js/lib/other/classie.js"></script>
            <script src="/site_media/static/js/lib/other/application-searchbar.js"></script>
            <script src="/site_media/static/js/lib/other/jquery.dlmenu.js"></script>
            <script src="/site_media/static/js/lib/other/jquery.imagesloaded.js"></script>
            <script src="/site_media/static/js/lib/other/selectize.js"></script>
            <script src="/site_media/static/js/lib/other/slider.js"></script>
            <script src="/site_media/static/bootstrap-3.1.1-dist/js/bootstrap.js"/></script>
            <script src="/site_media/static/pinax/js/theme.js"></script>

            
                <!-- Scripts to call in Libraries -->
        <script>
            new UISearch( document.getElementById( 'tl-search' ) );
        </script>
        <script>
            $(function() {
                $( '#dl-menu' ).dlmenu();
            });
        </script>
        <script>
            $(function() {

            Slider.init();

            });
        </script>
        <script>
            (function ($){
                  var handler = $('#tiles li');

                  handler.wookmark({
                      // Prepare layout options.
                      autoResize: true, // This will auto-update the layout when the browser window is resized.
                      offset: 20, // Optional, the distance between grid items
                      itemWidth: 210 // Optional, the width of a grid item
                  });

                 
                    handler.wookmark();
             
            })(jQuery);
        </script>
        <script>
                $('#input-tags').selectize({
                    delimiter: ',',
                    persist:false,
                    create :function(input) {
                        return {
                            value: input,
                            text: input
                        }
                    }
                });
        </script>
        <script>
        
            $(window).stellar();
        </script>
        
        <script>
        $(document).scroll(function() {
            var y = $(this).scrollTop();
            var slide1Pos = $("#slide1").height();
            var slide2Pos = $("#slide2").height();
            var totalHeight = slide1Pos + slide2Pos;
            if(y >= totalHeight) {
                $("header nav").addClass('top').removeClass('scroll');
            } else {
            
                $("header nav").addClass('scroll').removeClass('top');
            }
        });
        </script>
            
        

        
    
    

    </body>
</html>
