{% extends "banner_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block banner %}
    {% block parallax_base %}
    	 <div class="slide" id="slide1" data-slide="1" data-stellar-background-ratio="0.5"> 
       <div class="white_overlay" id="slide1_white_overlay"></div>
			<div id="slide1_content">
			    <img id="maskit_logo" src="/site_media/static/img/logo.png" alt="maskit logo">
			    <h1 id="slide1_text_headline">Indieitude the Home for Finding Independent Designers </h1>
		    <h2 id="slide1_text">
				Lorem ipsum dolor sit amet, eu pri tollit audire dissentiet. In ius dicam labitur delicata, persecuti inciderint concludaturque ut usu, purto everti sit eu. Eam ex ignota viderer, eu pro agam electram, cu duo partem suscipiantur. Elitr veniam vel ad.
				Odio ocurreret ne mel. Fierent detracto reprehendunt cum ex, primis vivendum nominati at cum, ex omnes scaevola electram mel. Cum at consul nominavi scriptorem, latine persius sadipscing qui ut, ei delectus voluptatibus eam. Duo ad etiam eirmod corrumpit, sea docendi deseruisse te, homero integre no qui. In eam mutat atqui molestie, atqui exerci putent pro ad, pri no neglegentur necessitatibus.
				Sale discere detraxit ei quo, veri electram maluisset ut vel, pri dicunt accommodare no. Mea ad enim utamur deseruisse. Affert temporibus definitiones ne est. Et mediocrem argumentum cum.
				Per ad probo possim insolens, cum regione malorum repudiandae et. Mel nibh congue appareat ad, in vix atqui laudem deterruisset. Vidit tacimates democritum pro ea, brute ipsum civibus cum ea. Vero probo no ius, no graeco utroque sensibus usu, mei ne alterum intellegebat.
				Pri at suscipit molestiae instructior, iudico bonorum tacimates ex ius. Dolorem habemus sapientem eam ex. Est ei putant oblique lobortis, ei vel ferri graecis deleniti. Graecis appellantur ea usu. Vix vero imperdiet temporibus ei, sea postea suavitate ne.
			    </h2>
			</div>
			<div class="scroll_down_text">Scroll Down</div>
			<a class="scroll arrow_down" id="arrow_down_1" href="#slide2"><div class="arrow_down_circle"><img class="arrow_down_strip" src="/site_media/static/img/down_strip.png" alt="arrow down"></div></a>
        </div> 

        <div class="slide" id="slide2" data-slide="2" data-stellar-background-ratio="0.5">
				<div class="white_overlay" id="slide2_white_overlay"></div>
				<div id="slide2_content">	
					<h1 id="slide2_text_headline">Connecting people with designers</h1>
					<h2 id="slide2_text">  
						Lorem ipsum dolor sit amet, eu pri tollit audire dissentiet. In ius dicam labitur delicata, persecuti inciderint concludaturque ut usu, purto everti sit eu. Eam ex ignota viderer, eu pro agam electram, cu duo partem suscipiantur. Elitr veniam vel ad.
				Odio ocurreret ne mel. Fierent detracto reprehendunt cum ex, primis vivendum nominati at cum, ex omnes scaevola electram mel. Cum at consul nominavi scriptorem, latine persius sadipscing qui ut, ei delectus voluptatibus eam. Duo ad etiam eirmod corrumpit, sea docendi deseruisse te, homero integre no qui. In eam mutat atqui molestie, atqui exerci putent pro ad, pri no neglegentur necessitatibus.
				Sale discere detraxit ei quo, veri electram maluisset ut vel, pri dicunt accommodare no. Mea ad enim utamur deseruisse. Affert temporibus definitiones ne est.
					</h2>	
				</div>
				<div class="scroll_down_text">Discover Below</div>
				<a class="scroll arrow_down" id="arrow_down_2" href="#slide3"><div class="arrow_down_circle"><img class="arrow_down_strip" src="/site_media/static/img/down_strip.png" alt="arrow down"></div></a>			
			</div>
	{% endblock %}
	<div class="{% block parallax_class %}slide{% endblock %}"  id="{% block parallax_id %}slide3{% endblock %}">
		<nav class="{% block main_navigation_class %}scroll{% endblock %}">
{% endblock %}


