{% load i18n %}
<section id="ps-container" class="ps-container">
                <div class="ps-slidewrapper">
                    <div class="ps-slides">
                    <div style="background-image:url(http://www.spiritualameri.ca/media/catalog/product/cache/1/image/348x518/9df78eab33525d08d6e5fb8d27136e95/d/s/dsc_0529_2.jpg);"></div>
                    <div style="background-image:url(http://www.spiritualameri.ca/media/catalog/product/cache/1/image/348x518/9df78eab33525d08d6e5fb8d27136e95/d/s/dsc_0512_1.jpg);"></div>
                    <div style="background-image:url(http://www.spiritualameri.ca/media/catalog/product/cache/1/image/348x518/9df78eab33525d08d6e5fb8d27136e95/d/s/dsc_0538_1.jpg);"></div>
                    <div style="background-image:url(http://www.spiritualameri.ca/media/catalog/product/cache/1/image/348x518/9df78eab33525d08d6e5fb8d27136e95/d/s/dsc_0534_3.jpg);"></div>
                </div>
                <div class="product-likes">
                    <span class="ps-icon-heart-empty"></span>
                </div>
                <div class="product-badge">
                    <!-- <img src="img/madelogo-1.png"> -->
                </div>
                <nav>
                    <a href="#" class="ps-prev" ></a>
                    <a href="#" class="ps-next" ></a>
                </nav>
                </div><!-- /ps-slidewrapper -->
            <div class="ps-header">
                <div class="ps-inner-third">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                        Product Information
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="product-change">
                                        <p>Uploaded At: 4/15/14 - 4:34pm EST</p>
                                        <p>Uploaded By: <a href="#">Morgan Carper</a></p>
                                        <p><span>Novelty:</span> Hand-Made</p>
                                        <a href="#">Buy Now</a>
                                    </div>
                                    <div class="product-likes">
                                        <span class="total">5</span>
                                    </div>
                                    <div class="product-info">
                                        <div class="product-main">
                                            <h1>Fern Canyon Dress</h1>
                                            <h2><span>Designer:</span> Morgan Carper</h2>
                                            <p> $229.00</p>
                                        </div>
                                        <div class="product-size">
                                            <p>Available Sizes</p>
                                            <span class="size">S</span>
                                            <span class="size">M</span>
                                        </div>
                                        <div class="product-colors">
                                            <p>Colors</p>
                                            <span class="color"></span>
                                        </div>
                                        <div class="product-desc">
                                            <p>
                                                Sleeveless printed dress with fitted bodice, full circle skirt, center back hidden zipper closure and contrast paneling. Fully lined. 100% Silk; Lining: 100% Polyester. 

                                            </p>
                                            <div class="panel panel-default">
                                                <div class="panel-heading designer-heading">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="" href="#collapseTwo">
                                                            Designer Information
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapseTwo" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                                    </div>
                                                </div>
                                            </div>
                                            <a class="comment" href="#">View Comments<span class="total-comment">100</span></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                        Current boutique locations
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="product-share">
                                        <li><a target="_blank"class="site-name" href="http://misshoe.com/">
                                            <span>Miss Hoe - 230 Bowery, New York, NY 10012</span>
                                        </a></li>
                                <li><a target="_blank" href="http://www.spiritualameri.ca/"><span>Spiritual Amercia - 5 Rivington St., New York, NY 10012 </span></a></li>
                                        <li><a target="_blank" href="#"><span>Pixie Market - 100 Stanton St, Manhattan, NY 10002</span></a></li> 
                                    </ul>   
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                        Fit Standards
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <table cellpadding='0' cellspacing='0' class='table table-striped'>
                                        <tbody>
                                            <tr>
                                                <th>Size</th>
                                                <th>Pants</th>
                                                <th>US</th>
                                                <th>UK</th>
                                                <th>AUS</th>
                                                <th>EU</th>
                                                <th>ITY</th>
                                                <th>JPN</th>
                                                <th>CAN</th>
                                            </tr>
                                            <tr>
                                                <td>XXS</td>
                                                <td>24</td>
                                                <td>0</td>
                                                <td>4</td>
                                                <td>4</td>
                                                <td>32</td>
                                                <td>36, 38</td>
                                                <td>XXS</td>
                                                <td>XXS</td>
                                            </tr>
                                            <tr>
                                                <td>XS</td>
                                                <td>25, 26</td>
                                                <td>2</td>
                                                <td>6</td>
                                                <td>6</td>
                                                <td>34</td>
                                                <td>38</td>
                                                <td>XS</td>
                                                <td>XS</td>
                                            </tr>
                                            <tr>
                                                <td>S</td>
                                                <td>27, 28</td>
                                                <td>4</td>
                                                <td>8</td>
                                                <td>8</td>
                                                <td>36</td>
                                                <td>40</td>
                                                <td>S</td>
                                                <td>S</td>
                                            </tr>
                                            <tr>
                                                <td>M</td>
                                                <td>29, 30</td>
                                                <td>6</td>
                                                <td>10</td>
                                                <td>10</td>
                                                <td>38</td>
                                                <td>42</td>
                                                <td>M</td>
                                                <td>M</td>
                                            </tr>
                                            <tr>
                                                <td>L</td>
                                                <td>30</td>
                                                <td>8</td>
                                                <td>12</td>
                                                <td>12</td>
                                                <td>40</td>
                                                <td>44</td>
                                                <td>L</td>
                                                <td>L</td>
                                            </tr>
                                            <tr>
                                                <td>XL</td>
                                                <td>31, 32</td>
                                                <td>10</td>
                                                <td>14</td>
                                                <td>14</td>
                                                <td>42</td>
                                                <td>46</td>
                                                <td>XL</td>
                                                <td>XL</td>
                                            </tr>
                                            <tr>
                                                <td>XXL</td>
                                                <td>32</td>
                                                <td>12</td>
                                                <td>16</td>
                                                <td>16</td>
                                                <td>44</td>
                                                <td>48</td>
                                                <td>XXL</td>
                                                <td>XXL</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                                        Product Links Elsewhere
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFive" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="product-share">
                                        <li><a target="_blank" class="site-name" href="http://www.nastygal.com/clothes/taylor-kimono-vest">Nasty Gal</a></li>
                                        <li><a href="#">Spiritual Amercia</a></li>
                                        <li><a href="#">Miss Hoe</a></li>
                                        <li><a href="#">Pixie Market</a></li>
                                    </ul>   
                                </div>
                            </div>
                        </div>
                    </div> <!-- accordian end -->
                </div>  <!-- container for accordian  -->                       
            </div> <!-- accordian end -->
        </section><!-- ps-header end -->