
/********* Hidden Dashoboard ****************/

.Dashboard {
background:rgba(0,0,0,0.9);
position:fixed;
/*margin:0 0 0 600px;*/
padding:0;
width:50%;
height:55%;
overflow: hidden;
z-index:3000;
color: rgb(255,255,255);
border-top:1px solid rgb(255,255,255);
border-left:1px solid rgb(255,255,255);
border-right:1px solid rgb(255,255,255);
display:none;
}

.Dashboard {
/*top:570px; */ top:520px;
transition:top 2s, border-top 2s, border-left 2s, border-right 2s ;

right:0;
}

.Dashboard:hover {
top: 200px !important;
border-top:1px solid rgb(18, 194, 134);
border-left:1px solid rgb(18, 194, 134);
border-right:1px solid rgb(18, 194, 134);
}


.Dashboard .dashTitle {
color: rgb(18, 194, 134);
  font-weight: 300;
  font-size: 2.5em;
text-align:center;
 text-transform:uppercase;
}

.Dashboard h2 {
font-weight: 300;
color:rgb(18, 194, 134);
font-size: 1.0em;
text-align:center;
line-height:2;
 word-spacing:3px;
}


.dashInner, .dashInnerAdd, .dashTitle {
font-family: "freight-sans-pro",sans-serif;
font-style: normal;
 position:relative;
}
 
    
/* Designers, Points, Badges and Boutiques Info */
   
.dashInner {
    border-top:rgb(18, 194, 134) 1px solid;
    clear:both;
    top:30px;
}  
    
 
    .dashInner li {
        display:inline-block;
        vertical-align:middle;
        text-align:center;
        padding-left:49px;
        position:inherit !important;
        margin:20px auto;
        left:40px;
        line-height:1.3;
       }
    
    
    .dashInner li span {
      font-weight: 300;
      color:rgb(255, 255, 255);
      font-size: 1.1em;   
      line-height:2px;
     }
     
     .dashInner li span::before, 
     .dashInner li span::after {
      content:"";
      position:absolute;
      top:20px;
      bottom:0px;
      left:0px;
      right:0px;
      padding:35px 47px 20px 34px ;
      margin-left:34px;
      }
     
/* For Specific tally up in D, P, B & B   */
     
     .dashInner .dashInfo span::before,
     .dashInner .dashInfo2 span::before,
     .dashInner .dashInfo3 span::before,
     .dashInner .dashInfo4 span::before {
      content:attr(data-value);
      color:rgb(18, 194, 134);
     }
      
     .dashInner .dashInfo2 span::before {
      margin-left:56px;
      }
      
      .dashInner .dashInfo3 span::before {
      margin-left:40px;
      }
      
       .dashInner .dashInfo4 span::before {
      margin-left:45px;
      }
      
/* For Adding Boutiques, Designers and Personal Looks */
    
    .dashInnerAdd {
        border-top:rgb(18, 194, 134) 1px solid;
      }
    
    .dashInnerAdd li {
      list-style:none;
      margin:20px 0px 0 70px;
      display:inline-block;
    }
 
    .dashInnerAdd li a {
        text-decoration: none;
        transition:all 0.3s ease-in 0s;
        color: rgb(255,255,255);
        font-weight: 300;
        font-size: 1.0em;
        text-transform:none;
        border:1px solid rgb(255,255,255);
        padding:5px 10px;
    }
    
    .dashInnerAdd li a:hover  {
    border-color:rgb(18, 194, 134) !important;
    color:rgb(18, 194, 134) !important;
    }
    
