{% extends 'base.html' %}

	{% block header%}          
        <nav class="top">
    		<div class="slogan">	
            	<div id="dl-menu" class="dl-menuwrapper">
					<button class="dl-trigger">Open Menu</button>
					<ul class="dl-menu">
					    <li>
						    <a href="#">Menu</a>
						    <ul class="dl-submenu">    
					            <li><a href="#">All</a></li>
					            <li><a href="#">What's New</a></li>
					            <li><a href="#">Trending</a></li>
					            <li>
					            	<a href="#">Collection</a>
					            	<ul class="dl-submenu">
					            		<li>
					            			<a href="#">Clothing</a>
					            			<ul class="dl-submenu">
							            		<li>
							            			<a href="#">Tops</a>
							            			<ul class="dl-submenu">
							            				<li><a href="#">Sweaters</a></li>
									            		<li><a href="#">Long Sleeve</a></li>
									            		<li><a href="#">Tees & Tanks</a></li>
									            		<li><a href="#">Short Sleeve</a></li>
									            		<li><a href="#">Blouses/Shirts</a></li>
									            		<li><a href="#">Sleeveless</a></li>
							            			</ul>
							            		</li>
							            		<li>
							            			<a href="#">Bottoms</a>
							            			<ul class="dl-submenu">
							            				<li><a href="#">Jeans</a></li>
									            		<li><a href="#">Pants</a></li>
									            		<li><a href="#">Shorts</a></li>
									            		<li><a href="#">Skrits</a></li>
									            		<li><a href="#">Leggings & Tights</a></li>
							            			</ul>
							            		</li>
							            		<li><a href="#">Dresses</a></li>
							            		<li><a href="#">Rompers & Jumpers</a></li>
							            		<li><a href="#">Jackets & Blazers</a></li>
							            		<li><a href="#">Outerwear</a></li>
					            			</ul>
					            		</li>
					            		<li><a href="#">Lingerie</a></li>
					            		<li>
					            			<a href="#">Accessories</a>
					            			<ul class="dl-submenu">
					            				<li><a href="#">Jewelry</a></li>
					            				<li><a href="#">Belts</a></li>
							            		<li><a href="#">Hats & Gloves</a></li>
							            		<li><a href="#">Sunglasses</a></li>
							            		<li><a href="#">Scarves & Snoods</a></li>
							            		<li><a href="#">Other</a></li>
					            			</ul>
					            		</li>
					            		<li><a href="#">Bags</a></li>
					            		<li>
					            			<a href="#">Shoes</a>
					            			<ul class="dl-submenu">
					            				<li><a href="#">Boots</a></li>
					            				<li><a href="#">Flats</a></li>
							            		<li><a href="#">Pumps & Heels</a></li>
							            		<li><a href="#">Sneakers</a></li>
							            		<li><a href="#">Wedges</a></li>
					            			</ul>
					            		</li>
					            	</ul>
					            </li>
					            <li><a href="#">Designers</a></li>
					            <li>
					            	<a href="#">Location</a>
					            	<ul class="dl-submenu">
					            		<li><a href="#">New York City</a></li>
					            	</ul>
					            </li>
		          			</ul>
						</li>
					</ul>
				</div><!-- /dl-menuwrapper -->
			</div> <!-- slogan end -->
			<div class="logoWrap">
				<a href="main.html"><img src="../img/logo.png" class="logo"/></a>
			</div> 
			<ul class="right">
            	<li class="login"><a href="registration/signup.html">Login / Signup</a></li>
        		<li class="social">
		            <a href="../information/information-page.html" class="info">Information</a>
		            <a href="#" class="facebook">Facebook</a>
		            <a href="#" class="twitter">Twitter</a>
		            <a href="#" class="pinterest">Pinterest</a>
				</li>
			</ul>
			<div id="tl-search" class="tl-search">
				<form>
			        <input class="tl-search-input" placeholder="Enter product search term..." type="search" value="" name="search" id="search">
			        <input class="tl-search-submit" type="submit" value="">
			        <span class="tl-icon-search"></span>
			    </form>
			</div>
		</nav>
{% endblock %}	