/**
 * Indieitude CSS Main File 
 * 2014 @author: Amechi Egbe
 *
 * Table Of Contents
 
 * Each number is referred to as levels. Ex: Level 1, Level 2 etc.. 
 
 1. Icons and @Font-Face styling
 2. Main header, and Search styling
 3. Menu styling
 4. Space(div) and Wookmark(main grid) styling
 5. Product Overlay Settings(Structure)
 6. Accordion design for housing the Product Information
 7. Dashboard design after users login in
 8. Dashboard(woorkmark filter design)
 9. Remodal Window for product information display
 10. Selectize for product Tag design
 */

/***********************************************************************************************************************************************************/
/********************************                                    Level 1                                               ****************************************/
/*****************************************************************************************************************************************************/

@font-face {
    font-family: 'GandhiSans';
    src: url('../fonts-icons/fonts/gandhi-sans/GandhiSans-Bold.otf');
    src: url('../fonts-icons/fonts/gandhi-sans/GandhiSans-BoldItalic.otf');
    src: url('../fonts-icons/fonts/gandhi-sans/GandhiSans-Italic.otf');
   src: url('../fonts-icons/fonts/gandhi-sans/GandhiSans-Regular.otf');
    font-weight: normal;
    font-style: normal;
}


/***********************************************************************************************************************************************************/
/********************************                                    Level 2                                               ****************************************/
/*****************************************************************************************************************************************************/

/***               Main header styles                   ***/
#header nav.top .logoWrap {
width: 188px;
height: 22px;
top:23%;
position: absolute;
left: 45%;
background: url('../img/logo.png') no-repeat scroll 0% 0% / 100% 100% transparent;
margin-left: -56px;
display: block;
padding:0;
}

.left {
    float:left
}

.right {
float:right;
}

#header nav {
position:fixed;
width:100%;
height: 47px;
line-height: 48px;
border-bottom: 1px solid red;
z-index:200;
top:0;
}



#header nav>ul>li {
    float:left;
}
#header nav.top {
    color:#aaa;
    border-bottom-color:transparent;
    background:#333;
    z-index:11
}


#header nav.top .slogan {
    float:left;
    margin:0;
    width:20%;
    margin-left:20px;
    font-size:15px;
    font-weight:normal;
    line-height:47px
}
#header nav.top li.login a {
    margin:0 20px 0 10px;
    text-decoration:none;
    font-weight:400;
color:rgb(255,255,255);
-webkit-transition: color 0.3s;
-moz-transition: color 0.3s;
transition: color 0.3s;
}


#header nav.top li.login a:hover,
#header nav.top li.login a:focus {
color: rgb(18,194,134);
}

#header nav.top li.social a {
    position: relative;
    float: left;
    width: 44px;
    height: 47px;
    text-align: center;
    border-left: 1px solid#d6d6d6;
    background-color: transparent;
    text-indent: -23em;
    overflow: hidden;
}

#header nav.top li.social a:before {
    display:block;
    position:absolute;
    top:50%;
    left:50%;
    width:26px;
    height:26px;
    margin:-11px 0 0 -13px;
    overflow:hidden;
    font-family:'icomoon';
    font-size:23px;
    display:block;
    text-indent:0;
    color:#bbb;
    text-decoration:inherit;
    font-variant:normal;
    line-height:27px;
    -webkit-transition:all .3s ease-out;
    -moz-transition:all .3s ease-out;
    -ms-transition:all .3s ease-out;
    transition:all .3s ease-out
}
#header nav.top li.social a.info:before {
    content:'\e602'
}
#header nav.top li.social a.facebook:before {
    content:'\e607';
    margin-top:-10px
}
#header nav.top li.social a.twitter:before {
    content:'\e608';
    margin-top:-9px;
    font-size:19px
}
#header nav.top li.social a.pinterest:before {
    content:'\e601';
    margin-top:-9px;
    font-size:18px
}
#header nav.top li.social a:hover:before {
    color:#313131
}
#header nav.main {
    height:66px;
    line-height:67px;
    font-size:14px;
}
#header nav.main:before {
    content:'';
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:1px;
    background:#d6d6d6;
    z-index:1;
}



/***  Search Bar   ***/
#header nav.top div.tl-search {
    position:relative;
    margin-right:0px;

    width:0%;
  
    min-width:60px;
    height:50px;
  clear:both;
  float:right;
    overflow:hidden;
    -webkit-transition:width 0.3s;
    -moz-transition:width 0.3s;
    transition:width 0.3s;
    -webkit-backface-visibility:hidden;
}

#header nav.top  .tl-search-input {
  position:absolute;
  top:0;
  right:0;
    border:none;
    outline:none;
    background:white;
    width:100%;
    height:40px;
    margin:0;
    z-index:0;
    padding: 0px 65px 0px 20px;
    font-family:inherit;
    font-size:20px;
    color:rgb(18,194,134);
}

#header nav.top   .tl-search-submit {
   background:rgb(255,255,255);
   -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; 
    filter: alpha(opacity=0);
    opacity:0;
    color:transparent;
    border:none;
    outline:none;
    z-index:-1;
}


#header nav.top .tl-search input[type="search"].tl-search-input {
 -webkit-appearance:none;
 -webkit-border-radius:0px;
}


/* color place holding text with prefixes */
#header nav.top  .tl-search-input::-webkit-input-placeholder {
    color: #efb480;
}
 
#header nav.top .tl-search-input:-moz-placeholder {
    color: rgb(0,0,0);
}
 
#header nav.top .tl-search-input::-moz-placeholder {
    color: rgb(0,0,0);
}
 
#header nav.top  .tl-search-input:-ms-input-placeholder {
    color: #efb480;
}

#header nav.top .tl-icon-search,
#header nav.top  .tl-search-submit {
    width:60px;
    height:40px;
    display:block;
    position:absolute;
    right:0;
    top:0;
    padding:0;
    margin:0;
    line-height:40px;
    text-align:center;
    cursor:pointer;
}

#header nav.top .tl-icon-search {
z-index:90;
font-size:22px;
font-family:'icomoon';
color:rgb(255,255,255);
background:#c0392b;
 speak:none;
 font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;   
}


#header nav.top  .tl-search .tl-icon-search:before {
    content: "\e609";
}


/* Open State */
#header nav.top .tl-search.tl-search-open,
.no-js .tl-search {
    width:30%;
    
  
}

#header nav.top  .tl-search.tl-search-open .tl-icon-search,
.no-js .tl-search .ti-icon-search {
 background:#da6d0d;
  color:rgb(0,0,0);
  z-index:11;
}

#header nav.top .tl-search.tl-search-open .tl-search-submit,
.no-js .tl-search .tl-search-submit {
    z-index: 90;
}


/***             Header Media Queries                       ***/
@media screen and (max-width:1570px) {
    #content, #footer .inner, nav.filters .inner {
       
        padding-right:66px
    }
    #content .grid {
        margin:0 0 0 -23px
    }
    .sponsors .banner:nth-child(4) {
        display:none
    }
    .sponsors .banner:nth-child(5) {
        display:block
    }
    .sponsors .banner {
        width:25%;
        margin:0;
        padding-left:26px;
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        -ms-box-sizing:border-box;
        box-sizing:border-box
    }
    .sponsors .banner img {
        width:100%;
        height:auto
    }
}
@media screen and (max-width:1400px) {
    .bt-top, #header nav.share, #header nav.search .search-text {
        display:none
    }
    #menu-mobile {
        display:block
    }
    #header nav.main ul.menu li {
        display:none
    }
    #header nav.search {
        visibility:visible;
        width:100%;
        height:0;
        border:0;
        overflow:inherit;
        z-index:201
    }
    #header nav.search.open {
        height:0;
        top:-47px
    }
    #header nav.search .menu2 {
        display:none
    }
    #header nav.search .menu-responsive {
        display:block;
        position:absolute;
        top:-19px;
        right:240px;
        float:none
    }
    #header nav.search {
        opacity:1
    }
    #header nav.search .hide.menu-responsive {
        display:block
    }
    #header nav.search ul.menu2 {
        border-right:0
    }
    #header nav.search .menu-responsive li {
        line-height:65px
    }
    #header nav.search .right ul.menu2 li>span {
        background:transparent
    }
    #header nav.main ul.menu li.submit {
        display:block;
        right:66px
    }
}



@media screen and (max-width:1337px) {
    .col-6.related .col:nth-child(6) {
        display:none
    }
    .col-6.related .col.n-2 {
        width:19.99%
    }
}
@media screen and (max-width:1280px) {
    .sponsors .banner:nth-child(5) {
        display:none
    }
    .sponsors .banner {
        width:33.33%
    }
}
@media screen and (max-width:1096px) {
    .col-6.related .col:nth-child(5) {
        display:none
    }
    .col-6.related .col.n-2 {
        width:24.99%
    }
}
@media screen and (max-width:1024px) {
    #header nav.main ul.menu li.submit, #header nav.top .slogan {
        display:none
    }
    #header nav.search ul.menu-responsive {
        right:66px
    }
}
@media screen and (max-width:855px) {
    .col-6.related .col:nth-child(4) {
        display:none
    }
    .col-6.related .col.n-2 {
        width:33.32%
    }
}
@media screen and (max-width:768px) {
    #header nav.search, #footer .right, #footer .list-sponsors, .bt-pag.fixed, #footer .book-conference p {
        display:none
    }
    body.header-fixed {
        padding-top:0
    }
    body.header-fixed #header {
        position:relative;
        top:auto;
        left:auto
    }
    #content, #footer .inner, nav.filters .inner {
        padding-left:23px;
        padding-right:23px
    }
    .sponsors .banner:nth-child(3) {
        display:none
    }
    .sponsors .banner {
        width:50%
    }
    #footer .book-conference h4:nth-child(1) {
        padding-top:0
    }
}
@media screen and (max-width:614px) {
    .col-6.related .col:nth-child(3) {
        display:none
    }
    .col-6.related .col.n-2 {
        width:49.99%
    }
}
@media screen and (max-width:480px) {
    #header nav>ul>li.social {
        display:none
    }
    .sponsors .banner:first-child {
        display:inline-block
    }
    figure .label.developer {
        top:-7px;
        width:60px;
        height:86px
    }
    #footer .grid .col.n-6 {
        width:100%;
        padding-bottom:23px
    }
    #footer .grid .col.n-6:last-child {
        padding-bottom:0
    }
}    


/***********************************************************************************************************************************************************/
/********************************                                    Level 3                                               ****************************************/
/*****************************************************************************************************************************************************/

  .dl-menuwrapper {
    width: 100%;
    max-width: 300px;
    float: left;
    
    position: relative;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
    -webkit-perspective-origin: 50% 200%;
    -moz-perspective-origin: 50% 200%;
    perspective-origin: 50% 200%;
}

.dl-menuwrapper:first-child {
    margin-right: 100px;
}


.dl-menuwrapper button {
    background: none;
    border: none;
    width: 70px;
    height: 55px;
    text-indent: -900em;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    outline: none;
    transition:background 2s;
}

.dl-menuwrapper button:hover,
.dl-menuwrapper button.dl-active,
.dl-menuwrapper ul {
    background:rgb(18,194,134) ;
}

.dl-menuwrapper button:after {
    content: '';
    position: absolute;
    width: 68%;
    height: 5px;
    background: #fff;
    top: 15px;
    left: 16%;
    box-shadow: 
        0 10px 0 #fff, 
        0 20px 0 #fff;
}
.dl-menuwrapper ul {
    padding: 0;
    list-style: none;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.dl-menuwrapper li {
    position: relative;
}

.dl-menuwrapper li a {
    display: block;
    position: relative;
    padding: 15px 20px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: rgb(255,255,255);
    outline: none;
    text-decoration:none;
    font-size:1.5em;
}

.no-touch .dl-menuwrapper li a:hover {
    background: rgba(255,248,213,0.1);
}

.dl-menuwrapper li.dl-back > a {
    padding-left: 30px;
    background: rgba(0,0,0,0.1);
}

.dl-menuwrapper li.dl-back:after,
.dl-menuwrapper li > a:not(:only-child):after {
    position: absolute;
    top: 0;
    line-height: 50px;
    font-family: 'icomoon';
    speak: none;
    -webkit-font-smoothing: antialiased;
    content: "\e60a";
}

.dl-menuwrapper li.dl-back:after {
    left: 10px;
    color: rgba(212,204,198,0.3);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

.dl-menuwrapper li > a:after {
    right: 10px;
    color: rgba(0,0,0,0.15);
}

.dl-menuwrapper .dl-menu {
    margin: 5px 0 0 0;
    position: absolute;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.dl-menuwrapper .dl-menu.dl-menu-toggle {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.dl-menuwrapper .dl-menu.dl-menuopen {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}

/* Hide the inner submenus */
.dl-menuwrapper li .dl-submenu {
    display: none;
}

/* 
When a submenu is openend, we will hide all li siblings.
For that we give a class to the parent menu called "dl-subview".
We also hide the submenu link. 
The opened submenu will get the class "dl-subviewopen".
All this is done for any sub-level being entered.
*/
.dl-menu.dl-subview li,
.dl-menu.dl-subview li.dl-subviewopen > a,
.dl-menu.dl-subview li.dl-subview > a {
    display: none;
}

.dl-menu.dl-subview li.dl-subview,
.dl-menu.dl-subview li.dl-subview .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen,
.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu,
.dl-menu.dl-subview li.dl-subviewopen > .dl-submenu > li {
    display: block;
}

/* Dynamically added submenu outside of the menu context */
.dl-menuwrapper > .dl-submenu {
    position: absolute;
    width: 100%;
    top: 60px;
    left: 0;
    margin: 0;
}

/* Animation classes for moving out and in */

.dl-menu.dl-animate-out-1 {
    -webkit-animation: MenuAnimOut1 0.4s;
    -moz-animation: MenuAnimOut1 0.4s;
    animation: MenuAnimOut1 0.4s;
}

@-webkit-keyframes MenuAnimOut1 {
    50% {
        -webkit-transform: translateZ(-250px) rotateY(30deg);
    }
    75% {
        -webkit-transform: translateZ(-372.5px) rotateY(15deg);
        opacity: .5;
    }
    100% {
        -webkit-transform: translateZ(-500px) rotateY(0deg);
        opacity: 0;
    }
}

@-moz-keyframes MenuAnimOut1 {
    50% {
        -moz-transform: translateZ(-250px) rotateY(30deg);
    }
    75% {
        -moz-transform: translateZ(-372.5px) rotateY(15deg);
        opacity: .5;
    }
    100% {
        -moz-transform: translateZ(-500px) rotateY(0deg);
        opacity: 0;
    }
}

@keyframes MenuAnimOut1 {
    50% {
        transform: translateZ(-250px) rotateY(30deg);
    }
    75% {
        transform: translateZ(-372.5px) rotateY(15deg);
        opacity: .5;
    }
    100% {
        transform: translateZ(-500px) rotateY(0deg);
        opacity: 0;
    }
}

.dl-menu.dl-animate-in-1 {
    -webkit-animation: MenuAnimIn1 0.3s;
    -moz-animation: MenuAnimIn1 0.3s;
    animation: MenuAnimIn1 0.3s;
}


@-webkit-keyframes MenuAnimIn1 {
    0% {
        -webkit-transform: translateZ(-500px) rotateY(0deg);
        opacity: 0;
    }
    20% {
        -webkit-transform: translateZ(-250px) rotateY(30deg);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: translateZ(0px) rotateY(0deg);
        opacity: 1;
    }
}

@-moz-keyframes MenuAnimIn1 {
    0% {
        -moz-transform: translateZ(-500px) rotateY(0deg);
        opacity: 0;
    }
    20% {
        -moz-transform: translateZ(-250px) rotateY(30deg);
        opacity: 0.5;
    }
    100% {
        -moz-transform: translateZ(0px) rotateY(0deg);
        opacity: 1;
    }
}


@keyframes MenuAnimIn1 {
    0% {
        transform: translateZ(-500px) rotateY(0deg);
        opacity: 0;
    }
    20% {
        transform: translateZ(-250px) rotateY(30deg);
        opacity: 0.5;
    }
    100% {
        transform: translateZ(0px) rotateY(0deg);
        opacity: 1;
    }
}


.dl-menuwrapper > .dl-submenu.dl-animate-in-1 {
    -webkit-animation: SubMenuAnimIn1 0.4s ease;
    -moz-animation: SubMenuAnimIn1 0.4s ease;
    animation: SubMenuAnimIn1 0.4s ease;
}



@-webkit-keyframes SubMenuAnimIn1 {
    0% {
        -webkit-transform: translateX(50%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0px);
        opacity: 1;
    }
}


@-moz-keyframes SubMenuAnimIn1 {
    0% {
        -moz-transform: translateX(50%);
        opacity: 0;
    }
    100% {
        -moz-transform: translateX(0px);
        opacity: 1;
    }
}


@keyframes SubMenuAnimIn1 {
    0% {
        transform: translateX(50%);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}


.dl-menuwrapper > .dl-submenu.dl-animate-out-1 {
    -webkit-animation: SubMenuAnimOut1 0.4s ease;
    -moz-animation: SubMenuAnimOut1 0.4s ease;
    animation: SubMenuAnimOut1 0.4s ease;
}



@-webkit-keyframes SubMenuAnimOut1 {
    0% {
        -webkit-transform: translateX(0%);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(50%);
        opacity: 0;
    }
}


@-moz-keyframes SubMenuAnimOut1 {
    0% {
        -moz-transform: translateX(0%);
        opacity: 1;
    }
    100% {
        -moz-transform: translateX(50%);
        opacity: 0;
    }
}



@keyframes SubMenuAnimOut1 {
    0% {
        transform: translateX(0%);
        opacity: 1;
    }
    100% {
        transform: translateX(50%);
        opacity: 0;
    }
}


/* No JS Fallback */
.no-js .dl-menuwrapper .dl-menu {
    position: relative;
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
}

.no-js .dl-menuwrapper li .dl-submenu {
    display: block;
}

.no-js .dl-menuwrapper li.dl-back {
    display: none;
}

.no-js .dl-menuwrapper li > a:not(:only-child) {
    background: rgba(0,0,0,0.1);
}

.no-js .dl-menuwrapper li > a:not(:only-child):after {
    content: '';
}


/***********************************************************************************************************************************************************/
/********************************                                    Level 4                                               ****************************************/
/*****************************************************************************************************************************************************/

.space {
 padding-bottom:10px;  
 position:relative;
 width:100%;
 right:0;
 top:0;
 left:0;
  bottom:0;
  text-align:center;
 margin-top:80px;
}



/**
 * Grid container
 */
#tiles {
  list-style-type: none;
  position: relative; /** Needed to ensure items are laid out relative to this container **/
  margin: 0;
  padding: 0;
}

/**
 * Grid items
 */
#tiles li {
  width: 200px;
  background-color: #ffffff;
  border: 1px solid #dedede;
          border-radius: 2px;
     -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  display: none; /** Hide items initially to avoid a flicker effect **/
  cursor: pointer;
  padding: 4px;
}

#tiles li.inactive {
  visibility: hidden;
  opacity: 0;
}

#tiles li img {
  display: block;
}

 /***********************************************************************************************************************************************************/
/********************************                                    Level 5                                               ****************************************/
/*****************************************************************************************************************************************************/


/*********** Overlay for product content area ***********************/
.ps-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: #555;
  background: #fff;

}

.ps-container > div {
  position: absolute;
  width: 50%;  /* change to 50% for base design */
}

/* remove this class when switching to base design*/
/*.ps-container > .ps-header {
   width:60%;  
}*/


.ps-container > div > div,
.ps-slidewrapper > nav,
.ps-slides > div {
  position: absolute;
}


/* Header section   */
.ps-header {
  top: 0px;
  right: 0px;
  height: 100%;
  z-index: 1001;
  background: rgb(255,255,255);
  overflow:scroll;
}



/* Overlay for product content area */


.ps-slidewrapper {
  left: 0px;
  top: 0px;
  height: 100%;
  overflow: hidden;
}

.ps-slides {
  top: 0px;
  bottom: 200px;
  width: 100%;
}

.ps-slides > div {
  width: 100%;
  height: 100%;

}

.ps-slidewrapper > nav {
  width: 100%;
  height: 200px;
  bottom: 0px;
  right: 0px;
  z-index: 1000;
}

.ps-slidewrapper > nav > a {
  width: 50%;
  height: 100%;
  position: relative;
  float: left;
  outline: none;
}


.no-touch .ps-slidewrapper > nav > a {
  -webkit-transition: box-shadow 0.4s ease-in-out;
  -moz-transition: box-shadow 0.4s ease-in-out;
  -ms-transition: box-shadow 0.4s ease-in-out;
  -o-transition: box-shadow 0.4s ease-in-out;
  transition: box-shadow 0.4s ease-in-out;
}

.no-touch .ps-slidewrapper > nav > a:hover {
  box-shadow: inset 0 0 0 9999px rgba(33,33,33,0.9);
}

.no-touch .ps-slidewrapper > nav > a:first-child:hover {
  box-shadow: inset 0 0 0 9999px rgba(33,33,33,0.7);
}


.ps-slidewrapper > nav > a:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  margin: -20px 0 0 -50px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-left: 1px solid #000;
  border-top: 1px solid #000;
}

.ps-slidewrapper > nav > a:first-child:after {
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
  margin: -80px 0 0 -50px;
}

.ps-slides > div,
.ps-slidewrapper > nav > a {
  background-color: #fff;
  background-position: center top;
  background-repeat: no-repeat;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  background-size: auto 100%;
}

.ps-move {
  -webkit-transition: top 400ms ease-out;
  -moz-transition: top 400ms ease-out;
  -o-transition: top 400ms ease-out;
  -ms-transition: top 400ms ease-out;
  transition: top 400ms ease-out;
}

.ps-container .ps-slidewrapper .product-likes .ps-icon-heart-empty {
z-index: 90;
font-size:1.0em;
font-family:'icomoon';
color:rgb(255,255,255);
background:black;
 speak:none;
 font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;  
    display: none; 
}

.ps-container .ps-slidewrapper .product-likes.ps-icon-heart-empty:before {
    content: "\e600";
     display: none; 
}


/*@media screen and (max-width: 860px) {

  .js .ps-container > div {
    width: 100%;
  }

  .js .ps-header {
    height: 50px;
  }


  .js .ps-slides {
    bottom: 320px;
    top: 50px;
  }

  .js .ps-slidewrapper > nav {
    height: 100px;
  }
}*/

/***********************************************************************************************************************************************************/
/********************************                                    Level 6                                               ****************************************/
/*****************************************************************************************************************************************************/
.ps-container .ps-header .ps-inner-third {
 width:100%;
 padding:0;
 margin:0;
}

/*------Collapse One-------*/

.ps-container .ps-header .ps-inner-third .product-change {
  float:left; 
}

.ps-container .ps-header .ps-inner-third .product-change p {
 font-size:0.8em; 
    color:red;
}

/* 
product-info area 

conatainer class: product-info

sub-classes:
- product-main
- product-likes
- product-size
- product-colors
- product-desc
- product-novelty
- product-badge

*/

.ps-container .ps-header .ps-inner-third .product-info{
text-align:center;
 clear:both;
}

.ps-container .ps-header .ps-inner-third .product-info > div {
 padding:0;
 margin:0;  
}

.ps-container .ps-header .ps-inner-third .product-info .product-colors p,
.ps-container .ps-header .ps-inner-third .product-info .product-size p,
.ps-container .ps-header .ps-inner-third .product-info .product-main p,
.ps-container .ps-header .ps-inner-third .product-info .product-main h2 {
    margin-bottom:8px;
}

    /* size */
    .ps-container .ps-header .ps-inner-third .product-info .product-size .size { 
      width: 30px;
      height: 30px;
      display: inline-block;
      margin-right: 7px;
      margin-bottom: 7px;
      overflow: hidden;
      border: 1px solid #b1b2b1;
      background-origin: border-box;
      text-align: center;
      vertical-align: middle;
      font-size: 11px;
      line-height: 31px;
      text-decoration: none;
    }
    
    /* colors */
    .ps-container .ps-header .ps-inner-third .product-colors .color {
      text-indent: -999999px;
      width: 30px;
      height: 30px;
      display: inline-block;
      margin-right: 7px;
      margin-bottom: 7px;
      overflow: hidden;
      border: 1px solid rgba(215, 215, 215, 0.5);
      background-origin: border-box;
      background-image: url('https://d2csjd0bj2nauk.cloudfront.net/products/ed6412bd-65f4-442d-8b79-d3aec96bb967_t.jpg')
    }   
    
    /* main */
    .ps-container .ps-header .ps-inner-third .product-info .product-main h1 {

     font-size:1.3em; 
     font-weight:700;

    }
    .ps-container .ps-header .ps-inner-third .product-info .product-main h2 {
     font-size:1.0em; 
    }

    .ps-container .ps-header .ps-inner-third .product-info .product-main h2 span {
    color:red;
    }
    
    /* likes */
    .ps-container .ps-header .ps-inner-third .product-likes {
    float:right;
    font-size: 1.5em;
    }
    .ps-container .ps-header .ps-inner-third .product-likes > span.total {
    padding-right:10px;
    vertical-align:top;
    line-height:23px;
    }
    .ps-container .ps-header .ps-inner-third .product-likes:after {      
    content: "\e600";
    float:right;
    font-family: 'icomoon';
    color: black;
    text-decoration: none;
    cursor:pointer; 
    }

    /* desc */
    .ps-container .ps-header .ps-inner-third .product-desc .comment {
    font-size: 15px;
    letter-spacing: 2px;
    color: black;
    text-transform: uppercase;
    line-height: 22px;
    margin: 20px 0px 0px;
    padding: 10px 20px;
    border: 1px solid red;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    border-radius: 3px;
    transition: all 0.7s ease-in;
    }
    .ps-container .ps-header .ps-inner-third .product-desc .comment:hover {
    background:rgb(18,194,134);
    }
    .ps-container .ps-header .ps-inner-third .product-desc  .total-comment {
    color:red;
    padding-left:10px;
    }


/*------Collapse Two-------*/
 


 /***********************************************************************************************************************************************************/
/********************************                                    Level 7                                              ****************************************/
/*****************************************************************************************************************************************************/

.dashboard,
.dashboard > .dash-middle,
.dashboard > .feed-title,
.dashboard > .dash-middle label{
    width:100%;
}



.dash-left{
float:left;
margin:0 2%;
letter-spacing:1px;

}

 .dash-left li {
   list-style:none;
    display:block;
    padding-bottom:20px;
 }
 
 
 .dash-left li a {
 text-decoration: none;
  color: rgb(255,255,255);
  font-size: 1.2em;
padding:5px;
  background: rgb(26,188,156);
  text-transform:none;
  -webkit-transition: background 0.3s ease-in;
  -moz-transition: background 0.3s ease-in;
  -o-transition: background 0.3s ease-in;
  -ms-transition: background 0.3s ease-in;
    transition: background 0.3s ease-in;
}

 .dash-left li a:hover {
transition: all 0.3s ease-in;
background: rgb(0,0,0);

}


.dash-middle {
    background:transparent;
    width:20%;
    margin:0 auto;
    text-align:center;
    height:90px;      
}

.dash-middle label {
    display:block;
    font-size:1.2em;
     overflow:hidden;
     padding-top:15px;
    color:white;
    letter-spacing:1px;
}


.dash-middle span {
    margin-left:10px;
}


.feed-title {
    padding:0;
    margin:0 auto;
    text-align:center;
    margin-bottom:20px;
    clear:both;
}


.hr-line {
    height:1px;
    background:rgb(255,255,255);
    width:100%;
    
}

/***********************************************************************************************************************************************************/
/********************************                                    Level 8                                             ****************************************/
/*****************************************************************************************************************************************************/

#tiles li {
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}


/**
 * Filters
 */
#filters {
  list-style-type: none;
  text-align: center;
  margin: 0 5% 0 5%;
}

#filters li {
  font-size: 12px;
  float: left;
  padding: 6px 0 4px 0;
  cursor: pointer;
  margin: 0 1% 0% 1%;
  width: 8%;
  -webkit-transition: all 0.15s ease-out;
     -moz-transition: all 0.15s ease-out;
       -o-transition: all 0.15s ease-out;
          transition: all 0.15s ease-out;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

#filters li:hover {
  background: #4281f5;
  color: #ffffff;
}

#filters li.active {
  background: #4281f5;
  color: #ffffff;
}

/***********************************************************************************************************************************************************/
/********************************                                    Level 9                                            ****************************************/
/*****************************************************************************************************************************************************/


/*! Remodal - v0.1.2 - 2014-03-05
 * https://github.com/VodkaBears/remodal
 * Copyright (c) 2014 VodkaBears; */

/* Fonts */
@import url(http://fonts.googleapis.com/css?family=Exo+2:700,400&subset=latin,cyrillic);

/* Lock screen(begin) */
html.remodal_lock, body.remodal_lock {
    overflow: hidden;
}

/* Lock screen(end) */

/* Background for effects(begin) */
.remodal-bg {
    -webkit-transition: -webkit-filter 0.2s linear;
    -moz-transition: -moz-filter 0.2s linear;
    -o-transition: -o-filter 0.2s linear;
    transition: filter 0.2s linear;
}

body.remodal_active .remodal-bg {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}

/* Background for effects(end) */

/* Anti FOUC(begin) */
.remodal, [data-remodal-id] {
    visibility: hidden;
}

/* Anti FOUC(end)*/

/* Remodal overlay(begin) */
.remodal-overlay {
    display: none;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;

    

    opacity: 0;
    background: rgba(33, 36, 46, 0.95);
    /* IE6–IE8 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#EE21242E, endColorstr=#EE21242E);
    zoom: 1;
    -webkit-transition: opacity 0.2s linear;
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}

.remodal-overlay > * {
    -webkit-transform: translateZ(0px);
}

.remodal-overlay:after {
    display: inline-block;

    height: 100%;
    margin-left: -0.05em;

    content: '';
    vertical-align: middle;
}

body.remodal_active .remodal-overlay {
    opacity: 1;
}

/* Remodal overlay(end) */

/* Remodal window(begin) */


.remodal {
    position: fixed;
    width: 100%;
    min-height: 100%;

    -webkit-transform: scale(0.95);
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -o-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-transition: -webkit-transform 0.2s linear;
    -moz-transition: -moz-transform 0.2s linear;
    -o-transition: -o-transform 0.2s linear;
    transition: transform 0.2s linear;
}

body.remodal_active .remodal {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

/* Remodal window(end) */

/* Remodal window close button(begin) */
.remodal-close {
    position: absolute;
    top: 5px;
    left: 5px;

    width: 28px;
    height: 28px;
 z-index:1000;
    text-decoration: none;
text-align: center;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #3e5368;
    -webkit-transition: background 0.2s linear;
    -moz-transition: background 0.2s linear;
    -o-transition: background 0.2s linear;
    transition: background 0.2s linear;
}

.remodal-close:after {
    display: block;
    font-size: 28px;
    font-family: Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif !important;

    content: "×";
    line-height: 28px;
    cursor: pointer;
    text-decoration: none;

    color: #3e5368;

    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.remodal-close:hover, .remodal-close:active {
    background: #3e5368;
}

.remodal-close:hover.remodal-close:after, .remodal-close:active.remodal-close:after {
    color: #f4f4f4;
}

/* Remodal window close button(end) */

/***********************************************************************************************************************************************************/
/********************************                                    Level 10                                            ****************************************/
/*****************************************************************************************************************************************************/

/**
 * selectize.default.css (v0.8.5) - Default Theme
 * Copyright (c) 2013 Brian Reavis & contributors
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not use this
 * file except in compliance with the License. You may obtain a copy of the License at:
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF
 * ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 *
 * @author Brian Reavis <brian@thirdroute.com>
 */
.selectize-control.plugin-drag_drop.multi > .selectize-input > div.ui-sortable-placeholder {
  visibility: visible !important;
  background: #f2f2f2 !important;
  background: rgba(0, 0, 0, 0.06) !important;
  border: 0 none !important;
  -webkit-box-shadow: inset 0 0 12px 4px #ffffff;
  box-shadow: inset 0 0 12px 4px #ffffff;
}
.selectize-control.plugin-drag_drop .ui-sortable-placeholder::after {
  content: '!';
  visibility: hidden;
}
.selectize-control.plugin-drag_drop .ui-sortable-helper {
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.selectize-dropdown-header {
  position: relative;
  padding: 5px 8px;
  border-bottom: 1px solid #d0d0d0;
  background: #f8f8f8;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
.selectize-dropdown-header-close {
  position: absolute;
  right: 8px;
  top: 50%;
  color: #303030;
  opacity: 0.4;
  margin-top: -12px;
  line-height: 20px;
  font-size: 20px !important;
}
.selectize-dropdown-header-close:hover {
  color: #000000;
}
.selectize-dropdown.plugin-optgroup_columns .optgroup {
  border-right: 1px solid #f2f2f2;
  border-top: 0 none;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.selectize-dropdown.plugin-optgroup_columns .optgroup:last-child {
  border-right: 0 none;
}
.selectize-dropdown.plugin-optgroup_columns .optgroup:before {
  display: none;
}
.selectize-dropdown.plugin-optgroup_columns .optgroup-header {
  border-top: 0 none;
}
.selectize-control.plugin-remove_button [data-value] {
  position: relative;
  padding-right: 24px !important;
}
.selectize-control.plugin-remove_button [data-value] .remove {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 17px;
  text-align: center;
  font-weight: bold;
  font-size: 12px;
  color: inherit;
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
  padding: 2px 0 0 0;
  border-left: 1px solid #0073bb;
  -webkit-border-radius: 0 2px 2px 0;
  -moz-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.selectize-control.plugin-remove_button [data-value] .remove:hover {
  background: rgba(0, 0, 0, 0.05);
}
.selectize-control.plugin-remove_button [data-value].active .remove {
  border-left-color: #00578d;
}
.selectize-control.plugin-remove_button .disabled [data-value] .remove:hover {
  background: none;
}
.selectize-control.plugin-remove_button .disabled [data-value] .remove {
  border-left-color: #aaaaaa;
}
.selectize-control {
  position: relative;
}
.selectize-dropdown,
.selectize-input,
.selectize-input input {
  color: #303030;
  font-family: inherit;
  font-size: 13px;
  line-height: 18px;
  -webkit-font-smoothing: inherit;
}
.selectize-input,
.selectize-control.single .selectize-input.input-active {
  background: #ffffff;
  cursor: text;
  display: inline-block;
}
.selectize-input {
  border: 1px solid #d0d0d0;
  padding: 8px 8px;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.selectize-control.multi .selectize-input.has-items {
  padding: 5px 8px 2px;
}
.selectize-input.full {
  background-color: #ffffff;
}
.selectize-input.disabled,
.selectize-input.disabled * {
  cursor: default !important;
}
.selectize-input.focus {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
}
.selectize-input.dropdown-active {
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
.selectize-input > * {
  vertical-align: baseline;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.selectize-control.multi .selectize-input > div {
  cursor: pointer;
  margin: 0 3px 3px 0;
  padding: 2px 6px;
  background: #1da7ee;
  color: #ffffff;
  border: 1px solid #0073bb;
}
.selectize-control.multi .selectize-input > div.active {
  background: #92c836;
  color: #ffffff;
  border: 1px solid #00578d;
}
.selectize-control.multi .selectize-input.disabled > div,
.selectize-control.multi .selectize-input.disabled > div.active {
  color: #ffffff;
  background: #d2d2d2;
  border: 1px solid #aaaaaa;
}
.selectize-input > input {
  padding: 0 !important;
  min-height: 0 !important;
  max-height: none !important;
  max-width: 100% !important;
  margin: 0 1px !important;
  text-indent: 0 !important;
  border: 0 none !important;
  background: none !important;
  line-height: inherit !important;
  -webkit-user-select: auto !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.selectize-input > input:focus {
  outline: none !important;
}
.selectize-input::after {
  content: ' ';
  display: block;
  clear: left;
}
.selectize-input.dropdown-active::before {
  content: ' ';
  display: block;
  position: absolute;
  background: #f0f0f0;
  height: 1px;
  bottom: 0;
  left: 0;
  right: 0;
}
.selectize-dropdown {
  position: absolute;
  z-index: 10;
  border: 1px solid #d0d0d0;
  background: #ffffff;
  margin: -1px 0 0 0;
  border-top: 0 none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}
.selectize-dropdown [data-selectable] {
  cursor: pointer;
  overflow: hidden;
}
.selectize-dropdown [data-selectable] .highlight {
  background: rgba(125, 168, 208, 0.2);
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
.selectize-dropdown [data-selectable],
.selectize-dropdown .optgroup-header {
  padding: 5px 8px;
}
.selectize-dropdown .optgroup:first-child .optgroup-header {
  border-top: 0 none;
}
.selectize-dropdown .optgroup-header {
  color: #303030;
  background: #ffffff;
  cursor: default;
}
.selectize-dropdown .active {
  background-color: #f5fafd;
  color: #495c68;
}
.selectize-dropdown .active.create {
  color: #495c68;
}
.selectize-dropdown .create {
  color: rgba(48, 48, 48, 0.5);
}
.selectize-dropdown-content {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;
}
.selectize-control.single .selectize-input,
.selectize-control.single .selectize-input input {
  cursor: pointer;
}
.selectize-control.single .selectize-input.input-active,
.selectize-control.single .selectize-input.input-active input {
  cursor: text;
}
.selectize-control.single .selectize-input:after {
  content: ' ';
  display: block;
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -3px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #808080 transparent transparent transparent;
}
.selectize-control.single .selectize-input.dropdown-active:after {
  margin-top: -4px;
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent #808080 transparent;
}
.selectize-control.rtl.single .selectize-input:after {
  left: 15px;
  right: auto;
}
.selectize-control.rtl .selectize-input > input {
  margin: 0 4px 0 -2px !important;
}
.selectize-control .selectize-input.disabled {
  opacity: 0.5;
  background-color: #fafafa;
}
.selectize-control.multi .selectize-input.has-items {
  padding-left: 5px;
  padding-right: 5px;
}
.selectize-control.multi .selectize-input.disabled [data-value] {
  color: #999;
  text-shadow: none;
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.selectize-control.multi .selectize-input.disabled [data-value],
.selectize-control.multi .selectize-input.disabled [data-value] .remove {
  border-color: #e6e6e6;
}
.selectize-control.multi .selectize-input.disabled [data-value] .remove {
  background: none;
}
.selectize-control.multi .selectize-input [data-value] {
  text-shadow: 0 1px 0 rgba(0, 51, 83, 0.3);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #1b9dec;
  background-image: -moz-linear-gradient(top, #1da7ee, #178ee9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1da7ee), to(#178ee9));
  background-image: -webkit-linear-gradient(top, #1da7ee, #178ee9);
  background-image: -o-linear-gradient(top, #1da7ee, #178ee9);
  background-image: linear-gradient(to bottom, #1da7ee, #178ee9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1da7ee', endColorstr='#ff178ee9', GradientType=0);
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.2),inset 0 1px rgba(255,255,255,0.03);
  box-shadow: 0 1px 0 rgba(0,0,0,0.2),inset 0 1px rgba(255,255,255,0.03);
}
.selectize-control.multi .selectize-input [data-value].active {
  background-color: #0085d4;
  background-image: -moz-linear-gradient(top, #008fd8, #0075cf);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#008fd8), to(#0075cf));
  background-image: -webkit-linear-gradient(top, #008fd8, #0075cf);
  background-image: -o-linear-gradient(top, #008fd8, #0075cf);
  background-image: linear-gradient(to bottom, #008fd8, #0075cf);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff008fd8', endColorstr='#ff0075cf', GradientType=0);
}
.selectize-control.single .selectize-input {
  -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.05), inset 0 1px 0 rgba(255,255,255,0.8);
  box-shadow: 0 1px 0 rgba(0,0,0,0.05), inset 0 1px 0 rgba(255,255,255,0.8);
  background-color: #f9f9f9;
  background-image: -moz-linear-gradient(top, #fefefe, #f2f2f2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fefefe), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #fefefe, #f2f2f2);
  background-image: -o-linear-gradient(top, #fefefe, #f2f2f2);
  background-image: linear-gradient(to bottom, #fefefe, #f2f2f2);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffefefe', endColorstr='#fff2f2f2', GradientType=0);
}
.selectize-control.single .selectize-input,
.selectize-dropdown.single {
  border-color: #b8b8b8;
}
.selectize-dropdown .optgroup-header {
  padding-top: 7px;
  font-weight: bold;
  font-size: 0.85em;
}
.selectize-dropdown .optgroup {
  border-top: 1px solid #f0f0f0;
}
.selectize-dropdown .optgroup:first-child {
  border-top: 0 none;
}